
body{
	background:#000;
	color: #000;
	font-family: 'Georgia', 'Trebuchet MS', serif;
	font-size: 12px;
	background-color: #000; 
}
a{
	color:#000;
	text-decoration:none;
	background-color: #000;
}
.clr{
	clear:both;
}
.container {
    padding:0px 50px px px;
	width: 100%;
	position:relative;
	z-index:100;
	margin:auto;

	padding-top: 40px;
	display: flex;
	justify-content: column;
	align-items: center;
	flex-wrap: wrap;
}

.container ul li{
	padding-bottom: 160px;
}

@media screen and (max-width: 1000px){
	.container ul li{
		width: 300px;
		height: 200px;
		padding-bottom: 220px;
		text-align: center;
		margin-left: 20px;
	}

	.container ul li h2{
		text-align: center;
	}
	
}

#midvines {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	position: absolute;
	z-index:100;
	}
	
.header{
	padding-top:40px;
}
.content {
	width:1000px;
	margin:0 auto;
}
h1{
	margin:10px 0 0px 20px;
	font-size:80px;
	color:#000;
	text-shadow:1px 1px 1px #000;
	font-family: 'Wire One', arial, serif; 
}
h1 span{
	font-size:22px;
	text-transform:uppercase;
}
.more ul{
	text-transform:uppercase;
	font-size:13px;
	padding: 50px 0px 30px 20px;
	height:30px;
	clear:both;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	width:830px;
	margin:0 auto;
}
.more ul li{
	float:left;
	margin:0px 2px;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#000;
	color:#000;
	text-shadow:none;
}
.more ul li a{
	text-shadow:1px 1px 1px #000;
	color:#555;
	background:#0000;
	padding:3px 6px;
	-moz-box-shadow:1px 1px 2px #aaa;
	-webkit-box-shadow:1px 1px 2px #aaa;
	box-shadow:1px 1px 2px #aaa;
}
.more ul li a:hover{
	background:#000;
	color:#000;
	text-shadow:none;
}
.content{
	width:100%;
	position:relative;
}
/* Footer Style */
.footer{
	position:fixed;
	width:100%;
	height:25px;
	line-height:24px;
	bottom:0;
	font-size:13px;
	background:#000;
	opacity:0.9;
	text-transform:uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	z-index:4;
}

.footer2{
	/*position:fixed;*/
	width:100%;
	height:100px;
	line-height:80px;
	bottom:0;
	font-size:13px;
	background:#000;
	opacity:0.9;
	text-transform:uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	z-index:4;
	}
.footer a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	text-align:right;
}
.footer a:hover{
	color:#000;
}
.footer a span{
	font-weight:bold;
}
.footer span.right_ab{
	position:absolute;
	right:4px;
}